.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobileMenu {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.desktopNav {
  @media (max-width: 768px) {
    display: none;
  }
}
